<script type="x/template" id="vue-accept-gtc-check">
    <label class="form-check-label" for="gtc-accept" v-bind:class="{ 'error': this.showError }">
        <input class="form-check-input" type="checkbox" value="" id="gtc-accept" v-model="isChecked">
        {% autoescape false %}
            {% set gtcContent %}<!--
                --><a href="{{ urls.gtc }}" target="_blank">
                    <strong>{{ trans("Ceres::Template.checkoutGtc") }}</strong>
                </a><!--
            -->{% endset %}
            {% set cancellationContent %}<!--
                --><a href="{{ urls.cancellationRights }}" target="_blank">
                    <strong>{{ trans("Ceres::Template.checkoutCancellationRight", {"hyphen": "&shy;"}) }}</strong>
                </a><!--
            -->{% endset %}

            {% set policyContent %}<!--
                --><a href="{{ urls.privacyPolicy }}" target="_blank">
                    <strong>{{ trans("Ceres::Template.checkoutPrivacyPolicy", {"hyphen": "&shy;"}) }}</strong>
                </a><!--
            -->{% endset %}

            {{ trans("Ceres::Template.checkoutChooseOur", {"gtc": gtcContent, "cancellation": cancellationContent, "policy": policyContent}) }} <a href="http://www.billiard-royal.com/gesonderte-widerrufsbedingungen/" target="_blank">
                    <strong>gesonderte Widerrufsbedingungen für Dienstleistungen</strong></a> zur Kenntnis.
        {% endautoescape %}
    </label>
</script>
